@model IEnumerable<Basketball.Models.TeamList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Git "R" Dun League!</h1>
        <hr class="my-4">
        <p>2020 SEASON</p>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("ALL TEAMS", "Conference", new { id = 2 }, new { @style = "color: white;" })</b>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("WEST CONFERENCE", "Conference", new { id = 2 }, new { @style = "color: white;" })</b>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("EAST CONFERENCE", "Conference", new { id = 1 }, new { @style = "color: white;" })</b>
    </div>
    <h2>Teams</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Record)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
                </td>

            </tr>
        }

    </table>
</body>
</html>
