@model Basketball.Models.TeamDetails

@{
    ViewBag.Title = "TeamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Git "R" Dun League!</h1>
        <hr class="my-4">
        <p>2020 SEASON</p>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("ALL TEAMS", "Conference", new { id = 2 }, new { @style = "color: white;" })</b>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("WEST CONFERENCE", "ConferenceDetails", new { id = 2 }, new { @style = "color: white;" })</b>
        <b class="btn btn-primary btn-lg" href="#" role="button">@Html.ActionLink("EAST CONFERENCE", "ConferenceDetails", new { id = 1 }, new { @style = "color: white;" })</b>
    </div>
    <h2>Teams</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players.First().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.Players.First().AveragePoints)
            </th>
        </tr>

        @foreach (var player in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => player.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => player.AveragePoints)
                </td>
            </tr>
        }
    </table>
</body>
</html>



